<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Home', root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 1em;">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a><%= link_to 'Posts', posts_path, style:"padding-left: 1em" %></a>
          </li>
          <li class="nav-item">
            <a><%= button_to 'Sign-out', destroy_user_session_path, method: :delete, style:"margin-left: 2em" %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <a><%= link_to 'Sign-in', new_user_session_path, style:"padding-left: 1em" %></a>
          </li>
          <li class="nav-item">
            <a><%= link_to 'Register', new_user_registration_path, style:"padding-left: 1em" %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>