<p style="color: green"><%= notice %></p>

<%= render @post %>

<a>
  <strong>Posted By </strong>
  <% if current_user.id == @post.user_id %>
    You
  <%else %>
    <%= @post.user.email %>
  <% end %>

</a>

<div>
  <% if current_user.id == @post.user_id %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
  <%= link_to "Back to posts", posts_path %>
</div>

<!-- LIKE SECTION-->
<br />
<div class="likes-section">

  <div class="likes-counter">
    <a><%= @post.likes.count %><strong> Likes</strong></a>
  </div>

  <div class="liking-functionality">
    <% like = current_user.likes.find_by(post: @post) %>
    <% if like.nil? %>

      <%= button_to 'Like', likes_path, params: { like: { post_id: @post.id } }, method: :post %>

      <!-- OR WE CAN USE THE FOLLOWING FROM

      <form action="/likes" method="post">
        <input type="hidden" name="authenticity_token" value="<%# form_authenticity_token %>">
        <input type="hidden" name="like[post_id]" value="<%# @post.id %>">
        <input type="submit" value="Like">
      </form>

      -->

    <% else %>
      <%= button_to 'Unlike', like_path(like), method: :delete %>
    <% end %>
  </div>

</div>

<!-- COMMENT SECTION -->
<br/>
<div class="Comments-section">
  <div class="comments-count"><h3><%= @post.comments.count %> <strong> Comments</strong></h3></div>

  <br /><hr />
  <section class="comments-display">
    <%= render @post.comments.order(id: :desc) %>
  </section>

  <section class="comment-reply">
    <h2>Leave A Reply</h2>
    <div class="form">
      <%= render partial: 'comments/form', locals: {post: @post} %>
    </div>
  </section>
</div>
